{% extends 'base.html.twig' %}

{% block pageTitle %}Nawadnianie{% endblock %}
{% block pagePreTitle %}{% endblock %}
{% block pageTitleActions %}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                    </div>
                    <div class="card-body">
                        Body
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                    </div>
                    <div class="card-body">
                        Body
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
