{% if history is not empty %}
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Energy</th>
            <th scope="col">Runtime</th>
            <th scope="col">Pause</th>
        </tr>
        </thead>
        <tbody>
        {% for row in history %}
            <tr>
                <td>{{ row.running is defined ? row.running.startTime|date('d.m.Y H:i:s') : ''}}</td>
                <td>{{ row.running is defined ? row.running.usedEnergy|number_format(2) ~ 'Wh' : '' }}</td>
                <td>{{ row.running is defined ? row.running.statusDurationReadable : '' }}</td>
                <td>{{ row.standby is defined ? row.standby.statusDurationReadable : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    brak danych
{% endif %}
