{% extends 'base.html.twig' %}

{% block pageTitle %}Powietrze{% endblock %}
{% block pagePreTitle %}{% endblock %}

{% block pageTitleActions %}
    <div class="d-inline-flex">
        <div class="btn-group me-3" role="group">
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-1" autocomplete="off" {% if app.current_route == 'app_weather_daily' %}checked="checked"{% endif %}">
            <label for="btn-radio-basic-1" type="button" class="btn" onclick="location.href='{{ path('app_weather_daily') }}'">dzień</label>
            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-2" autocomplete="off" {% if app.current_route == 'app_weather_monthly' %}checked="checked"{% endif %}">
            <label for="btn-radio-basic-2" type="button" class="btn" onclick="location.href='{{ path('app_weather_monthly') }}'">miesiąc</label>
{#            <input type="radio" class="btn-check" name="btn-radio-basic" id="btn-radio-basic-3" autocomplete="off">#}
{#            <label for="btn-radio-basic-3" type="button" class="btn" onclick="location.href='{{ path('app_weather_yearly') }}'">rok</label>#}
        </div>
        <div class="input-group">
            <button class="btn" type="button" id="prev-day-btn" aria-label="Poprzedni dzień">&#8592;</button>
            {% block dateInput %}{% endblock %}
            <button class="btn" type="button" id="next-day-btn" aria-label="Następny dzień">&#8594;</button>
        </div>
    </div>
{% endblock %}
