{% extends 'base.html.twig' %}

{% block pageTitle %}Location{% endblock %}

{% block pageTitleActions %}{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ dump(salonTemp) }}
                        {{ dump(salonHum) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
