<div class="row">
    <div class="col-12 {% if app.flashes is not empty %}g-3{% endif %}">
        {% for type, message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible alert-solid alert-label-icon fade show" role="alert">
                <i class="ri-check-fill label-icon"></i><strong>Sukces</strong> - {{ message|raw }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for type, message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible alert-solid alert-label-icon fade show" role="alert">
                <i class="ri-check-fill label-icon"></i><strong>Błąd!</strong> - {{ message|raw }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
</div>
