{% extends 'base.html.twig' %}

{% block pageBody %}
    <div id="content-box">
        <div id="devices_controllers" class="container-xl">
            <div class="row row-deck row-cards">
                {% include 'front/dashboard/_partials/device_controllers.html.twig' %}
            </div>
        </div>
        <div id="devices_status" class="container-xl mt-3" data-device-names="{{ devices|map((device) => device.name)|join('|') }}">
            <div class="row row-cards">
                {% include 'front/dashboard/_partials/device_status.html.twig' %}
            </div>
        </div>
        <div id="temperatures_card" class="container-xl mt-3">
            <div class="row row-deck row-cards">
                {% include 'front/dashboard/_partials/location_temperatures.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/device_status.js') }}"></script>
    <script src="{{ asset('js/device_control.js') }}"></script>
    <script src="{{ asset('js/location_temperatures.js') }}"></script>
{% endblock %}
