<div class="modal fade" id="heatingControllerModal" tabindex="-1" aria-labelledby="heatingControllerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-3 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sterowanie ogrzewaniem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {# modal content loaded dynamically #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Zamknij okno</button>
            </div>
        </div>
    </div>
</div>
