<div class="modal fade" id="locationTemperatureChartModal" tabindex="-1" aria-labelledby="locationTemperatureChartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="locationTemperatureChartModalLabel">Historia temperatury</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="location_temperature_chart_modal_content">
                    <canvas id="locationTemperatureChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
