<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}shelly.mikowski.pl{% endblock%}</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
    {% block head_javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('assets/bootstrap.bundle.js') }}"></script>
{% block body_javascripts %}{% endblock %}
</body>
</html>