{% extends 'remote/remote.html.twig' %}

{% block pageTitle %}Rolety{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2>Rolety</h2>
                            </div>
                            <div class="col text-end">
                                <span class="avatar {{ last_direction == 'open' ? 'bg-success' : (last_direction == 'close' ? 'bg-red' : 'bg-warning') }}">
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 mt-2">
                                <button type="button" class="btn btn-6 btn-azure w-100 long-press-btn" data-controller="covers" data-action="open">
                                    <span>Otwórz</span>
                                </button>
                            </div>
                            <div class="col-6 mt-2">
                                <button type="button" class="btn btn-6 btn-azure w-100 long-press-btn" data-controller="covers" data-action="close">
                                    <span>Zamknij</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {% for row in logs %}
                                <li>{{ row }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
