{% extends 'remote/remote.html.twig' %}

{% block pageTitle %}Brama{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2>Brama</h2>
                            </div>
                            <div class="col text-end">
                                <span class="avatar {{ is_open == true ? 'bg-success' : (is_open == false ? 'bg-red' : 'bg-warning') }}">
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="button" class="btn btn-6 btn-azure w-100 long-press-btn" data-controller="gate" data-action="open-close">
                                    <span>Otwórz</span>
                                </button>
                            </div>
                        </div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <a href="#" class="btn btn-outline-azure w-100" data-bs-toggle="modal" data-bs-target="#open_notification_modal">
                                        <span>Powiadomienia</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                            <tr>
                                <th>Time / Message</th>
                                <th>Data</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in parsedLogs %}
                                <tr>
                                    <td class="d-inline-grid">
                                        <span class="text-muted">{{ log.timestamp|date('d.m.Y H:i:s') }}</span>
                                        <span>{{ log.message }}</span>
                                    </td>
                                    <td><pre class="mb-0 p-1">{{ log.data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')) }}</pre></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
