{% extends 'base.html.twig' %}

{% block pageTitle %}Heating{% endblock %}

{% block pageTitleActions %}
    <div class="input-group">
        <button class="btn" type="button" id="prev-day-btn" aria-label="Poprzedni dzień">
            &#8592;
        </button>

        <input type="date" class="form-control" id="heating_date" value="{{ "now"|date("Y-m-d") }}" min="2025-03-12" max="{{ "now"|date("Y-m-d") }}">

        <button class="btn" type="button" id="next-day-btn" aria-label="Następny dzień">
            &#8594;
        </button>
    </div>
{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="min-height: 432px;">
                        <div id="chart-temperature" class="position-relative"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/heating_chart.js') }}"></script>
{% endblock %}
