{% extends 'base.html.twig' %}

{% block pageTitle %}Heating{% endblock %}

{% block pageBody %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div id="chart-temperature" class="position-relative"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{{ asset('js/heating_chart.js') }}"></script>
{% endblock %}
